---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<b>Texas A&M University</b>,
<i>Instructor</i>
<ul>
  <li>STAT 302 - Statistical Methods, Fall 2023</li>
</ul>
<b>Texas A&M University</b>,
<i>Teaching Assistant</i>
<ul>
  <li>STAT 626 - Methods in Time Series Analysis, Summer 2022</li>
  <li>STAT 610 - Distribution Theory, Fall 2021</li>
  <li>STAT 303 - Statistical Methods, Summer 2021</li>
</ul>
<br>
<b>Miami University</b>,
<i>Undergraduate Assistant</i>
<ul>
  <li>STA 463 - Regression Analysis, Spring 2019</li>
  <li>STA 462 - Statistical Inference, Fall 2018</li>
</ul>